/* Author: Derek O Reilly, Dundalk Institute of Technology, Ireland. */
/* style class for game's container, canvas and loading message      */

#gameContainer {
  /* style the gameContainer if the game includes non-canvas elements */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#gameCanvas {
  /* the canvas styling usually does not change */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 95vw;
  height: 50vh;
  border: 3px solid black;
  border-radius: 10px;
}

#loadingMessage {
  /* the loading message styling usually does not change */
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 30vh;
  width: 50vw;
  color: red;
  z-index: 100;
  font-size: 20vh;
}

#btnReset {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 60vh;
  width: 20vw;
  height: 10vh;
  color: whitesmoke;
  font-size: 3rem;
  background-color: #9d311e;

  visibility: hidden;
}

@media (orientation: landscape) {
  #gameCanvas {
    height: 96vh;
    width: 95vw;
    font-size: 20vh;
  }
}

@media (orientation: portrait) {
  #loadingMessage {
    font-size: 5vh;
    top: 0;
    top: 23vh;
  }
}
