@font-face {
  font-family: "minecraftfont";
  src: url("../fonts/minecraftfont.eot");
  src: local("minecraftfont"), url("../fonts/minecraftfont.woff") format("woff"),
    url("../fonts/minecraftfont.ttf") format("truetype");
}

.fontsforweb_fontid_1412 {
  font-family: "minecraftfont" !important;
}

/* Font downloaded from FontsForWeb.com */
* {
  font-size: 16px;
  font-family: "minecraftfont";
}

body {
  background-color: #013220;
}

#gameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
  width: 95vw;
  max-width: 95vw;
  max-height: 95vh;
  overflow: hidden;
  box-sizing: border-box;
}

header {
  position: absolute;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 100vw;
  height: 7vh;
  background-color: #e1ad01;
  font-size: 3rem;
  bottom: 0px;
  color: #3e363f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

footer {
  position: absolute;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
  width: 100vw;
  height: 3vh;
  background-color: #e1ad01;
  font-size: 1rem;
  color: #3e363f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#gameCanvas {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 40vw;
  height: 40vw;
}

#p-game-result {
  position: absolute;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  top: 20vh;
  width: 100vw;
  height: 7vh;
  color: #9d311e;
  font-weight: bold;
  font-size: 4rem;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
#radio-btn-container {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40vh;
  width: 20vw;
  height: 10vh;
  color: #3e363f;
  font-size: 1.5rem;
  background-color: #e1ad01;
  border-radius: 10px;
}
#button-play {
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 60vh;
  width: 20vw;
  height: 10vh;
  color: #3e363f;
  font-size: 3.5rem;
  font-weight: bold;
  background-color: #e1ad01;
  border-radius: 10px;
  letter-spacing: 0.5rem;
}

input[type="radio"]:hover {
  cursor: pointer;
}

#button-play:hover {
  cursor: pointer;
}
#div-container-game-results {
  z-index: 100;
  position: absolute;
  right: 0;
  margin-right: 5vw;
  top: 15vh;
  width: 20vw;
  height: 70vh;
  color: #3e363f;
  font-size: 1rem;
  background-color: #e1ad01;
  overflow-y: auto;
  border-radius: 10px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  border: 0.1rem solid #3e363f;
  text-align: left;
  padding: 8px;
}

nav ul {
  height: 15vh;
  width: 20vw;
}
nav ul {
  overflow: hidden;
  overflow-y: scroll;
}

@media all and (orientation: portrait) {
  #gameCanvas {
    width: 100vw;
    height: 100vw;
  }
  #p-game-result {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50vh;
    width: 100vw;
    height: 10vh;
    color: #9d311e;
    font-weight: bold;
    font-size: 1.9rem;
    visibility: hidden;
  }
  #div-container-game-results {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 10vh;
    width: 80vw;
    height: 15vh;
    color: #3e363f;
    font-size: 1rem;
    background-color: #e1ad01;
    overflow-y: auto;
  }
  #button-play {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 80vh;
    width: 100vw;
    height: 10vh;
    font-size: 3rem;
  }

  #radio-btn-container {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 40vh;
    width: 80vw;
    height: 10vh;
    color: #3e363f;
    font-size: 1rem;
    background-color: #e1ad01;
  }
}
